## What is a database? Differentiate between SQL and NoSQL databases.

### A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). 
### SQL - RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS).----  NOSQL - Non-relational or distributed database system
### These databases have fixed or static or predefined schema------ They have dynamic schema
### These DB are not suited for hierarchical data storage. ----- BEST SUITED
### Follows ACID property -------------  	Follows CAP(consistency, availability, partition tolerance)
### Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc ------ SQL Server, etc	Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

In [7]:
## What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

### Data Definition Language (DDL) is a set of commands used to manipulate data in db.
### Create, drop, alter, and truncate are all DDL commands that can be used to modify existing tables or view schemas.
### For example, the CREATE command creates a new table with columns such as name and description;
### the ALTER command modifies an existing table by adding or dropping columns;
### the DROP command drops a complete table from the database;
### and the TRUNCATE command deletes all rows from an existing table but not its contents

In [2]:
# What is DML? Explain INSERT, UPDATE, and DELETE with an example.

### Insert, update, and delete are all Data Manipulation Language (DML) commands that can be used to modify existing data. 
### For ex, the INSERT command adds new rows to a table; the UPDATE command modifies existing data in a table;
### and the DELETE command removes existing data from a table.

In [1]:
# What is DQL? Explain SELECT with an example.

##  DQL (Data Query Language) is a programming language used for performing queries on the data within schema objects
## Select command is used to fetch the data in a set of records from a table, view or a group of tables, views by making use of SQL joins.
##  "SELECT * FROM Customers WHERE first_name = 'John'"

In [3]:
## Explain Primary Key and Foreign Key.

## Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values.
## A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

# Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector   ### import this library this will help in importing

mydb = mysql.connector.connect(     ### here we are connecting database with python python me system configuration daal rhe hai 
  host="localhost",   ### system kaha hosted hai toh basically lab jaha hosted hai whi system bhi hosted hai 
  user="abc",
  password="password"
)

## python se sql ki connection ban gya

mycursor = mydb.cursor()  ## database ke ek ek rows and columns pe cursor move karega
mycursor.execute("SHOW DATABASES") ## executes a specified query, SQL statement, stored procedure, or provider-specific text. on which cursor is pointing
for x in mycursor:
  print(x)

In [ ]:
# Give the order of execution of SQL clauses in an SQL query.

In [ ]:
### The order of execution of SQL clauses in an SQL query is 
### From and Join clauses first, 
### followed by the Where clause, 
### Group By clause, Having clause, Select clause, and Order By clause